* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #F3F3F3;
}

h1, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 12px;
    width: 100%;
}

.section__table {
    padding: 14px 0;
    font-family: "Ubuntu", sans-serif;
}

.table__interactive {
    margin: 20px 0;
    position: relative;
}

.section__voice {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    background-color: #181818;
    padding: 17px 0;
}

.table__title {
    margin-bottom: 33px;
    color: #0B64FE;
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
}

.table__text {
    color: #181818;
    font-weight: 300;
    font-size: 16px;
    line-height: 27.2px;
}

.table__img{
    width: 100%;
    object-fit: cover;
}

.table__img--top {
    transform: translate(-3px, 15px);
}

.table__button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 10%;
    left: 25%;
    width: 50%;
}

.button {
    padding: 0;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: #A6FFFF;
    border: none;
    font-family: "Ubuntu", sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}

.voice__title {
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    width: 80%;
}

.voice__description {
    margin-bottom: 40px;
}

.voice__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27.2px;
    margin-bottom: 20px;
}

.voice__text:last-child {
    margin: 0;
}

.voice__interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.interactive__girl {
    transform: translate(0, 110%) scale(0);
}

.interactive__portal {
    transform: scale(0);
}

.voice__interface {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.interface__img {
    width: 120%;
    object-fit: cover;
}

.voice__hello {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.hello__text {
    font-weight: 900;
    font-size: 39px;
}

.hello__text--big {
    font-size: 61px;
}

.hello__text--middle  {
    font-size: 49px;
}

@media (min-width: 480px) {

    .container {
        max-width: 480px;
    }

    .table__button {
        left: 35%;
        width: 30%;
        bottom: 20%;
    }

    .hello__text {
        font-size: 49px;
    }

    .hello__text--big {
        font-size: 71px;
    }
    
    .hello__text--middle  {
        font-size: 59px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .table__title {
        font-size: 45px;
    }

    .table__text {
        font-size: 18px;
    }

    .table__button {
        left: 30%;
        width: 40%;
    }

    .button {
        width: 120px;
        height: 120px;
        font-size: 24px;
    }

    .voice__text {
        font-size: 18px;
    }

    .hello__text--middle  {
        font-size: 71px;
    }
}

@media (min-width: 1400px) {
    .section {
        padding: 50px 0;
    }

    .section__voice {
        background-image: url(../image/bg.svg);
        background-position: center;
        background-repeat: repeat;
    }

    .container {
      max-width: 1400px;  
    }

    .table__container {
        display: grid;
        grid-template-columns: 670px 670px;
        grid-template-areas: "inter desc-top" "inter desc-bottom";
    }

    .table__interactive {
        grid-area: inter;
        margin: 0;
        margin-right: 40px;
    }

    .table__description-top {
        grid-area: desc-top;
        margin-bottom: 20px;
    }

    .table__title {
        font-size: 62px;
        line-height: 62px;
    }

    .table__text {
        font-size: 22px;
        line-height: 37.4px;
    }

    .table__description-bottom {
        grid-area: desc-bottom;
    }

    .table__button {
        bottom: 25%;
    }

    .voice__container {
        display: grid;
        grid-template-columns: 570px 400px;
        grid-template-areas: "description interactive interface" "hello interactive interface";
    }

    .voice__title {
        font-size: 56px;
        line-height: 50.4px;
    } 

    .voice__description {
        grid-area: description;
        margin: 0;
    }

    .voice__text {
        font-size: 22px;
        line-height: 37.4px;
    }

    .voice__interactive {
        grid-area: interactive;
        margin: 0;
    }

    .voice__interface {
        grid-area: interface;
        margin: 0;
    }

    .interface__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .voice__hello {
        grid-area: hello;
    }

    .hello__text {
        font-size: 44px;
    }

    .hello__text--big, .hello__text--middle {
        font-size: 60px;
    }

    .hello__text--big {
        display: flex;
    }
} 

@media (min-width: 1900px) {

    .container {
        max-width: 1900px;
        padding: 0 50px;
    }

    .table__button {
        bottom: 13%;
        left: 25%;
        width: 50%;
    }

    .button {
        width: 200px;
        height: 200px;
        font-size: 40px;
    }

    .table__container {
        grid-template-columns: 1000px 473px;
    }

    .table__interactive {
        margin-right: 100px;
    }


    .voice__container {
        grid-template-columns: 540px 700px 1fr;
    }

    .voice__interface {
        margin-left: -120px;
    }

    .interface__img {
        width: 600px;
        height: 670px;
    }

    .hello__text--big {
        margin-left: 10%;
    }

    .interface__img {
        width: 700px;
        height: 760px;
        object-fit: contain;
    }
}